div {
    text-align: center;
    width: 100%;
    height: 100%
}

input {
    margin: 10px;
    width: 40px;
}

canvas {
    border: 1px solid;
    width: 500px;
    height: 500px
}

input[type="range"] {
    /* transform: rotateZ(90deg); */
    width: 150px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex-rows {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;

    width: 200px; 
    height: 450px; 
    margin-left: 25px;
}