body {
    margin: 0;
    color: #333;
}

.container {
    text-align: center;

    min-height: 100vh;
    padding: 1em;

    background: #c9f7f7;
}

.btn {
    font-size: 1em;
    color: white;
    background-color: #3a5ae6;

    padding: 1em;
    border: none;
    border-radius: 5px;
    margin: 5px;
    outline: none;

    cursor: pointer;
}

.btn:hover {
    background-color: rgb(12, 53, 235);
}

.btn:focus {
    background-color: rgb(14, 46, 189);
}

.btn:active {
    background-color: rgb(14, 46, 189);
}

.copyright {
    padding-top: 2em;
    padding-bottom: 1em;
}

@media (min-width: 768px) {
    .description {
        font-size: 1.2em;
    }

    .content {
        width: 80%;
        margin: auto;
    }
}

/* ----------------------------------- */
/*         Controls and canva          */
/* ----------------------------------- */
.canva-container {
    display: grid;
    grid-template-columns: minmax(auto, 500px) auto;
    justify-content: center;
}

#miCanva {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 5px #0003;
}

#parm_a {
    margin: 10px 0;
}

.vertical-rage {
    padding-left: 1.5em;
    position: relative;
}

#parm_b {
    position: absolute;
    transform: rotate(-90deg) translate(-100%, -100%);
    transform-origin: top left;
}

.range {
    color: red;
    height: 1rem;

    /* 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    */
}

.range:focus {
    outline: 1px solid rgb(12, 53, 235);
}

.range::-webkit-slider-runnable-track {
    background: transparent;
}