body {
    margin: 0;
    color: #333;
}

.container {
    text-align: center;

    min-height: 100vh;
    padding: 1em;

    background: #c9f7f7;
}

.btn {
    font-size: 1em;
    color: white;
    background-color: #3a5ae6;

    padding: 1em;
    border: none;
    border-radius: 5px;
    margin: 5px;
    outline: none;

    cursor: pointer;
}

.btn:hover {
    background-color: rgb(12, 53, 235);
}

.btn:focus {
    background-color: rgb(14, 46, 189);
}

.btn:active {
    background-color: rgb(14, 46, 189);
}

.copyright {
    padding-top: 2em;
    padding-bottom: 1em;
}

@media (min-width: 768px) {
    .description {
        font-size: 1.2em;
    }

    .content {
        width: 80%;
        margin: auto;
    }
}

/* ----------------------------------- */
/*         Controls and canva          */
/* ----------------------------------- */
.canva-container {
    display: grid;
    grid-template-columns: minmax(auto, 500px) auto;
    justify-content: center;
}

#miCanva {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 5px #0003;
}

#parm_a {
    margin: 10px 0;
}

.vertical-rage {
    padding-left: 1.5em;
    position: relative;
}

#parm_b {
    position: absolute;
    transform: rotate(-90deg) translate(-100%, -100%);
    transform-origin: top left;
}

.range {
    color: red;
    height: 1rem;
}

.range:focus {
    outline: 1px solid rgb(12, 53, 235);
}

.canva {
    position: relative;
}

#spinner {
    background-color: #0009;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
}

/* Wait spinner */
.loader {
    border-radius: 50%;
    width: 5em;
    height: 5em;

    border: 1em solid rgba(255, 255, 255, 0.2);
    border-top-color: #ffffff;

    animation: loading 1.1s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}